.cards {
  margin-top: 60px;
}

.card__list {
  list-style: none;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}

.card__content {
  margin: 0;
  background-color: white;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

.card__description {
  display: flex;
  white-space: nowrap;
}

.card__description-text {
  margin: 0;
  width: 193px;
  height: 29px;
  align-self: flex-start;
  color: black;
  padding: 25px 28px 25px 20px;
  color: #000;
  font-size: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.card__like-button {
  width: 21px;
  height: 18px;
  align-self: center;
}

.card__like-button:hover {
  opacity: 50%;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 618px) {
  .cards {
  }

  .card__list {
  }
}
