.cards {
  margin-top: 51px;
}

.cards__list {
  list-style: none;
  max-width: 880px;
  width: 100%;
  margin: 51px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}

.cards__content {
  margin: 0;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.cards__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

.cards__delete {
  background-image: url(/images/Trash.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 18px;
  height: 19px;
  position: absolute;
  right: 15px;
  top: 18px;
}

.cards__delete:hover {
  opacity: 60%;
  transition: opacity 0.5s ease;
}

.cards__description {
  display: flex;
}

.cards__description-text {
  margin: 0;
  width: 193px;
  align-self: flex-start;
  padding: 25px 28px 25px 20px;
  color: #000;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  line-height: 29px;
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards__like-button {
  width: 21px;
  height: 18px;
  align-self: center;
  background-image: url(../images/HeartLogo.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.cards__like-button:hover {
  opacity: 50%;
  transition: opacity 0.5s ease;
}

.cards__like-button_active {
  background-image: url(/images/Filled\ like\ heart.svg);
}

@media screen and (max-width: 618px) {
  .cards {
    max-width: 282px;
    margin: 36px auto 0;
  }

  .cards__list {
    max-width: 282px;
  }
}

@media screen and (max-width: 320px) {
  .cards {
    margin-top: 36px;
  }
}
